.wpg-blog{
    background-color: #8282821a;
    padding: 60px 0px;
   .container-mini{
    width: 92%;
    margin: auto;
   }
    .shortcode-title{
        padding-top: 50px;
        h1{
            color: #000;
            display: inline-block;
            letter-spacing: 0.5px;
            margin: 0 0 30px;
            text-align: left;
            font-weight: 600;
            line-height: 23px;
            font-size: 23px;
            border-bottom: 1px solid #dcdcdc;
            width: 100%;
            padding: 0 0 20px;
        }
       
    
    }
}