.coloumn-inn {
  padding-right: 30px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  position: relative;
  z-index: 99;
  width: auto;
  padding-top: 30px;
  padding-left: 30px;
  background-color: #f2f2f2;
  display: block;
  overflow: hidden;
  margin-bottom: 80px;
}

.coloumn-inn::before {
  background-color: rgba(255, 255, 255, 0.1);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translate(13%, 190%) rotate(-30deg);
          transform: translate(13%, 190%) rotate(-30deg);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  width: 100%;
  z-index: 1;
}

.coloumn-inn::after {
  background-color: rgba(255, 255, 255, 0.1);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-13%, -190%) rotate(-30deg);
          transform: translate(-13%, -190%) rotate(-30deg);
  -webkit-transition: all 0.3s cubic-bezier(0.75, 0, 0.125, 1) 0s;
  transition: all 0.3s cubic-bezier(0.75, 0, 0.125, 1) 0s;
  width: 100%;
  z-index: 1;
}

.coloumn-inn .wrapper {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
}

.coloumn-inn .wrapper img {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.coloumn-inn .wrapper .static-wrapp {
  position: absolute;
  top: 25%;
  left: 8%;
  text-align: left;
  font-style: inherit;
}

.coloumn-inn .wrapper .static-wrapp h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 10px;
}

.coloumn-inn .wrapper .static-wrapp p {
  color: #bebebe;
  font-size: 14px;
  font-weight: 400;
}

.coloumn-inn .wrapper .static-wrapp a {
  position: relative;
  color: #e09654;
  font-size: 15px;
  letter-spacing: 0.6px;
  font-weight: 500;
  padding: 48px 0 0;
  display: inline-block;
  text-decoration: none;
}

.coloumn-inn .wrapper .static-wrapp a::before {
  position: absolute;
  content: '';
  width: 100%;
  background-color: #e09654;
  bottom: 0;
  height: 1px;
}

@media screen and (max-width: 1200px) {
  .coloumn-inn {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-right: 0 !important;
  }
  .coloumn-inn .wrapper .static-wrapp {
    top: 15%;
  }
}

@media screen and (max-width: 1085px) {
  .coloumn-inn {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-right: 0;
  }
  .coloumn-inn .wrapper .static-wrapp {
    top: 10%;
  }
}

@media screen and (max-width: 990px) {
  .coloumn-inn {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-right: 0;
  }
  .coloumn-inn .wrapper .static-wrapp {
    top: 30%;
  }
}

@media screen and (max-width: 660px) {
  .coloumn-inn {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-right: 0;
  }
  .coloumn-inn .wrapper .static-wrapp {
    top: 25%;
  }
}

@media screen and (max-width: 580px) {
  .coloumn-inn {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-right: 0;
  }
  .coloumn-inn .wrapper .static-wrapp {
    top: 10%;
  }
  .coloumn-inn .wrapper .static-wrapp a {
    padding-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .coloumn-inn {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-right: 0;
  }
  .coloumn-inn .wrapper .static-wrapp {
    margin-top: 10px;
    top: 0%;
  }
  .coloumn-inn .wrapper .static-wrapp a {
    padding-top: 20px;
  }
}
/*# sourceMappingURL=single.css.map */