.deal-item{
    background-color: #fff;

    .feature-image{
      position: relative;
      img{
        object-fit: fill;
        vertical-align: middle;
        height: 300px;
      }
      .on-sale{
        margin: 0;
        position: absolute;
        display: inline-block;
        left: 5%;
        top: 2%;
        z-index: 99;
        background: #e09654;
        color: #fff;
        padding: 4px 8px;
        line-height: 16px;
        font-weight: 500;
        text-align: center;
        font-size: 12px;
      }
    }
    .product-detail{
      display: inline-block;
      padding: 30px;
      width: 50%;
      text-align: left;
      .rating{
        margin-top: 10px;
      }
       a{
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        line-height: 25px;
        text-decoration: none;
        cursor: pointer;    
       }
       .wo-price{
        margin: 20px 0;
        display: inline-block;
        .new-price{
          margin-right: 10px;
          color: #000000;
          font-weight: 600;
        }
        .old-price{
          text-decoration: line-through;
          display: inline-block;
          font-weight: 500;
          font-size: 14px;
          color: #c1c1c1;
        }
     
       }
       .description{
        p{
          color: #595858;
          font-size: 13px;
          font-weight: 500;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
      }
      .count-down{
        width: auto;
        position: relative;
        padding: 30px 0;
        font-size: 20px;
        clear: both;
        font-weight: 500;
        box-sizing: border-box;

        .down{
          background: #f7f7f7;
          padding: 5px 15px;
          display: inline-block;
          text-align: center;
          line-height: 17px;
          font-size: 20px;
          border-right: 0.5px solid rgba(0, 0, 0, 0.241);
          font-weight: 500;
            .numeric{
            color: #000;
            font-weight: 600;
            padding-top: 5px;
          }
          p{
            color: #595858;
            font-size: 13px;
            font-weight: 500;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
    .swiper {
        width: 300px;
        height: 400px;
    
      }
      
      .swiper-slide {
        background-position: center;
        background-size: cover;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
      }
      .block-hover{
        transition: 0.3s ease-in-out;
        display: flex;
        visibility: hidden;
        opacity: 0;
        .like,.shopping-cart,.compare,.review{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            width: 35px;
            height: 35px;
            font-weight: 400;
            background-color: #000;
            margin-bottom: 7px;
            margin-right:5px;
            &:hover{
              background-color: #e09654;
            }

        }
        .favorite,.visibility,.compar,.cart{
          color: #ffff;
        }
    }
    &:hover{
      .block-hover{
        visibility: visible;
        opacity: 1;
      }
    }
}
@media screen and(max-width:992px) {
  .deal-item{
    margin-bottom: 20px;
  }
}

@media screen and(max-width:535px) {
  .deal-item{
     flex-wrap: wrap;
    margin-bottom: 15px;
    .feature-image{
      margin-left: 5px;
    }
  }
}
@media screen and(min-width:992px) and (max-width:1289px) {
  .deal-item{
    .feature-image{
      width: 100%;
    }
    .product-detail{
      width: 100%;
    }
  }
}
@media screen and(max-width:632px) {
  .deal-item{
    .feature-image{
      width: 100%;
    }
    .product-detail{
      width: 100%;
    }
  }
}