.deal-item {
  background-color: #fff;
}

.deal-item .container-mini {
  width: 100%;
  margin: auto;
}

.deal-item .feature-image {
  position: relative;
}

.deal-item .feature-image .on-sale {
  margin: 0;
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 99;
  background: #e09654;
  color: #fff;
  padding: 4px 8px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.deal-item .product-detail {
  display: inline-block;
  padding: 30px;
  text-align: left;
}

.deal-item .product-detail .rating {
  margin-top: 10px;
}

.deal-item .product-detail a {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
}

.deal-item .product-detail .wo-price {
  margin: 20px 0;
  display: inline-block;
}

.deal-item .product-detail .wo-price .new-price {
  margin-right: 10px;
  color: #000000;
  font-weight: 600;
}

.deal-item .product-detail .wo-price .old-price {
  text-decoration: line-through;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  color: #c1c1c1;
}

.deal-item .product-detail .description p {
  color: #595858;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.deal-item .product-detail .count-down {
  width: auto;
  position: relative;
  padding: 30px 0;
  font-size: 20px;
  clear: both;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.deal-item .product-detail .count-down .down {
  background: #f7f7f7;
  padding: 5px 15px;
  display: inline-block;
  text-align: center;
  line-height: 17px;
  font-size: 20px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.241);
  font-weight: 500;
}

.deal-item .product-detail .count-down .down .numeric {
  color: #000;
  font-weight: 600;
  padding-top: 5px;
}

.deal-item .product-detail .count-down .down p {
  color: #595858;
  font-size: 13px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.deal-item .swiper {
  width: 300px;
  height: 400px;
}

.deal-item .swiper-slide {
  background-position: center;
  background-size: cover;
}

.deal-item .swiper-slide img {
  display: block;
  width: 100%;
}

.deal-item .block-hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
}

.deal-item .block-hover .like, .deal-item .block-hover .shopping-cart, .deal-item .block-hover .compare, .deal-item .block-hover .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  width: 35px;
  height: 35px;
  font-weight: 400;
  background-color: #000;
  margin-bottom: 7px;
  margin-right: 5px;
}

.deal-item .block-hover .like:hover, .deal-item .block-hover .shopping-cart:hover, .deal-item .block-hover .compare:hover, .deal-item .block-hover .review:hover {
  background-color: #e09654;
}

.deal-item .block-hover .favorite, .deal-item .block-hover .visibility, .deal-item .block-hover .compar, .deal-item .block-hover .cart {
  color: #ffff;
}

.deal-item:hover .block-hover {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=deal.css.map */