#mainDetail {
  padding: 40px 0px 0px;
}

#mainDetail a {
  text-decoration: none;
  color: #000;
}

#mainDetail .swiper {
  max-height: 500px;
}

#mainDetail .mySwiper {
  height: 10% !important;
}

#mainDetail .page-breadcumps {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #dcdcdc;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#mainDetail .page-breadcumps .breadcumps {
  font-size: 13px;
  text-align: right;
  line-height: 1.25;
  margin: 4px 0;
  color: #000;
}

#mainDetail .page-breadcumps .breadcumps span {
  font-weight: normal;
  padding: 0 0px;
  font-size: 12px;
  margin-left: 5px;
}

#mainDetail .product-summary {
  padding-left: 20px;
}

#mainDetail .product-summary .product-name {
  color: #000;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

#mainDetail .product-summary .product-rating {
  text-align: left;
}

#mainDetail .product-summary .product-rating .rating {
  font-size: 16px;
}

#mainDetail .product-summary .product-meta {
  padding: 2px 0px;
}

#mainDetail .product-summary .product-meta .fonts {
  font-weight: normal;
  color: #808080;
  margin-left: 10px;
  width: 13px;
}

#mainDetail .product-summary .product-meta .sku, #mainDetail .product-summary .product-meta .category, #mainDetail .product-summary .product-meta .tagged-as {
  color: #000;
  display: block;
  margin: 0;
  font-weight: 600;
  font-size: 13px;
}

#mainDetail .product-summary .price {
  padding: 10px 0px;
  text-align: left;
}

#mainDetail .product-summary .price .price-pr {
  color: #b2b2b2;
  font-size: 24px;
}

#mainDetail .product-summary .price .discount {
  margin-left: 8px;
  color: #e09654;
  font-size: 24px;
  font-weight: 500;
}

#mainDetail .product-summary .wo-product-details {
  text-align: left;
}

#mainDetail .product-summary .wo-product-details .desc {
  color: #828282;
  font-weight: 400;
}

#mainDetail .product-summary .inStock {
  color: #008000;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
}

#mainDetail .product-summary .quantity {
  margin: 0 10px 0 0;
}

#mainDetail .product-summary .quantity .minus, #mainDetail .product-summary .quantity .plus {
  display: inline-block;
  height: 40px;
  border: 1px solid #bbb;
  width: 40px;
  color: #bbb;
  cursor: pointer;
  vertical-align: top;
  background: none;
  font-size: 20px;
  padding: 0;
  line-height: 40px;
  background-color: #fff;
  text-align: center;
}

#mainDetail .product-summary .quantity .qty {
  border: 1px solid #ebebeb;
  width: 60px;
  display: inline;
  margin: 0 3px;
  vertical-align: top;
  padding: 7px;
  text-align: end;
  color: #000;
}

#mainDetail .product-summary .btn {
  padding: 0px 14px;
  font-size: 13px;
  font-weight: 600;
}
/*# sourceMappingURL=detail.css.map */