.blog-detail{
    padding: 30px 0px;
     background-color: #fff;
    img{
        border-radius: 4px;
    }
    text-align: left;
    .blog-name{
        color: black;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 1px;
        margin-bottom: 25px;
    }
    .publish-date{
        color: #e09654;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .blog-text{
        background-color: #eee;
        padding: 50px 30px;
        border-radius: 5px;
        .blog-description{
        color: grey;

        }
    }
}