.form{
    input{
        position: relative;
    }

    .list-result{
        z-index: 9999;
        background-color: #fff;
        position: absolute;
        top: 100%;
        width: 87%;
        left: 0;
        box-shadow: 0 0 20px 0 #222;
        max-height: 200px;
        text-align: left;
        overflow-y: scroll;
        display: none;
        &.active{
            display: block;
        }
    }
    ul{
        li{
            padding: 12px;
            border-bottom: 1px solid black;
            display: flex;
            justify-content: space-between;
            .search-image{
            width: 10%;
            }
            &:hover{
                background-color: gre;
            }
            a{
                color: #222;
                font-weight: 600;
                font-family: monospace;
            }
        }
    }
}
