.slider-range{
    position: relative;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    .text-left{
        position: absolute;
        z-index: 99;
        top: 25%;
        left: 13%;
        text-align: left;
        p{
            color: #e09654;
            font-size: 22px;
            font-weight: 300;
            letter-spacing: 1px;
        }
        h2{
            color: #fff;
            font-size: 33px;
            font-weight: 600;
            word-spacing: 3px;
            margin-bottom: 30px;
        }
        h6{
            color: rgba(255, 255, 255, 0.815);
            font-size: 14px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 23px;
            // word-spacing: 2px;
            letter-spacing: 1px;
            font-weight: 600;
        }
        button{
            background-color: #e09654;
            color: #fff;
            padding: 8px 19px;
            border: none;
            font-size: 12px;
            font-weight: 600;
        }
    }
    .swiper-button-next,.swiper-button-prev{
        color: #fff;
        font-weight: 600;
        margin-left: 15px;
        width: 70px;
    }
    .swiper-container {
        width: 480px;
      }
      .top-up{
        z-index: 999;
        position: fixed;
        right: 10px;
        top: 90%;
        background-color: #e09654;
        
        .arrow-up{
            font-size: 40px;
            color: #fff;
        }
      }
}

// @media sreen and(max-width:800px){
//     .slider-range{
//         position: relative  !important;
//        .text-left{
//          position: absolute;
//          top: 10%;
//          background-color: rebeccapurple;
//          z-index: 999;

//        }
//     }

// }
@media screen and (max-width: 576px) {
    .swiper-container {
      width: 576px;
    }
  .swiper{
    .swiper-button-prev,.swiper-button-next{
        display: none !important;
    }
    .swiper-slide{
    
        .text-left{
            left: 8%;
            top: 20%;
            p{
                margin-bottom: 3px;
                font-size: 12px;
                font-style: italic;
            }
            h2{
                font-size: 16px;
                margin: 0;
            }
            h6{
                font-size: 11px;
                margin-bottom: 5px;
            }
            button{
             padding: 4px 12px;
            border: none;
            font-size: 10px;
            font-weight: 500;  
            }
        }
    }
  }
  }
@media screen and (min-width: 576px) {
    .swiper-container {
      width: 576px;
    }
  .swiper{
    .swiper-slide{
        .text-left{
            h2{
                font-size: 35px;
            }
        }
    }
  }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
      width: 768px;
    }
  }
  
  @media (min-width: 992px) {
    .swiper {
        .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}