*{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  
}
  .container-small{
    width: 75%;
    margin: auto;
}

.over-button{
  background-color: #e09654;
  margin-left: 7px;
  color: #fff;
}
//  HEADER CSS START ///////
#mainHead{
  background-color: #100f0ff1;


  .header-top{
    padding: 25px 0;
    position: relative;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #363636;
    &.active-top{
      display: none;
    }
  
    .header-top-center{
      margin: 0 30px 0 50px;
      .form{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        position: relative;
        .search-icon{
          position: absolute;
          right: 0;
          top: 5px;
          display: none;

        }
        input{
          border: 0;
          box-sizing: border-box;
          color: #8a8a8a;
          padding: 1px 10px 1px 20px;
          width: 578px;
          background: #ffffff;
          letter-spacing: 1px;
          font-size: 12px;
        }
        .search-button{
          font-size: 14px;
          line-height: 20px;
          padding: 10px 19px;
          font-weight: 500;
          color: #ffffff;
        }
      }
    }
    .header-top-right{

      .header-service{
        .sms-block{
          margin-right: 5px;
          .shipping{
            color: grey;
            font-size: 35px;
            transition: 0.4s ease-in-out;
            &:hover{
              color: #fca000;
            }
          }

          .s-text{
            font-size: 13px;
             text-align: left;
             line-height: 18px;
             font-weight: 600;
             display: inline-block;
             vertical-align: top;
             color: #ffffff;
             padding-left: 10px;
          }
        }
        .contact-block{
          .headphone{
            color:grey;
            font-size: 30px;
            transition: 0.4s ease-in-out;
              &:hover{
              color: #fca000;
            }
          }
          .c-text{
            font-size: 13px;
            text-align: left;
            line-height: 18px;
            font-weight: 600;
            display: inline-block;
            vertical-align: top;
            color: #ffffff;
            margin-left: 10px;
          }
        }
      }
    }
  }
  // header top end -///

  .header-bottom{
    transition: 0.5s ease-in-out;
    
  ul{
    list-style: none;
    li{
       display:block;
      a{
        text-decoration: none;
        color: #fff;
        display: block;
        position: relative;
        padding: 18px 15px;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;  
        &:hover{
          color: #fca00083;
        }
      }
    }
  }
    &.active-header{
      width: 100%;
      position: fixed;
      z-index: 999;
      background-color: #100f0ff1;
      .header-top{
        display: none;
      }
     }
    .header-bottom-left{
      border-bottom: 1px solid #363636;
    
   .navigator-bar{
    transition: 0.3s ease-in-out;
    &.active-nav{
       right: 0;
       visibility: visible;
       opacity: 1;
    }
    .for-ul{
      padding: 0;
      margin: 0;
      height: auto;
      position: relative;
      width: 180px;
      list-style: none;
       li{
         display:inline-block;
         vertical-align: top;

         a{
           padding: 0;
           margin: 0;
           line-height: 30px;
           padding: 18px 15px;
           cursor: pointer;
           font-weight: 400;
           line-height: 20px;
         }
       }
     }
     ul{
      .drop-shop,.drop-blog,.drop-featur{
        background: #fff;
        text-align: left;
        position: absolute;
        padding: 5px 0px;
        right: auto;
        top: 58px;
        visibility: hidden;
        z-index: 99;
        opacity: 0;
        transition: 0.4s ease-in;
        ul{
          padding: 10px;
          height: auto;
          width: 180px;
         li{
          text-align: left;
          margin: 0;
          display: block;
          a{
            padding: 5px 0px;
            color: #000000;
            padding: 10px 0px;
            display: block;
            text-decoration: none;
            font-weight: 400;
            &:hover{
               color: #e09654;
            }
          }
           }
        }
    
     
      }
      .shopping,.blog,.feat,.media{
        position: relative;
        &:hover{
          .drop-shop,.drop-blog,.drop-featur,.drop-media{
            visibility: visible;
            opacity: 1;
          }

        }
        }
        .drop-media{
          text-align: left;
          position: absolute;
          padding: 5px 0px;
          line-height: 0px;
          left: 50;
          background: #fff;
          top: 58px;
          z-index: 99;
          right: 50;
          margin: 0;
          visibility: hidden;
          opacity: 0;
          transition: 0.4s ease-in;
    
          .sub-title{
          background: #fff;
          line-height: 10px;
          width: 180px;
          height: auto;
          padding: 20px;
            .title{
              font-weight: 600;
              color: #1c1c1c;
              text-transform: uppercase;
              height: auto;
              text-align: left;
              padding-left: 2px;
            }
            .second-drop{
              li{
                padding-right: 0;
                text-align: left;
                a{
                  border: none;
                  color: #000000;
                  text-shadow: none;
                  padding: 10px 0px;
                  display: block;
                  text-decoration: none;
                  text-transform: none;
                  font-weight: 400;
                 
                  &:hover{
                    color: #e09654;
                  }
                }
              }
            }
          
          }
        }
      }
     }
   }
   .header-bottom-right{
    position: relative;
    border-left: 1px solid #363636;
    padding: 10px 0 10px 25px;
     .style-icon{
       color: #fff;
       font-size: 30px;
       margin-left: 10px;
       font-weight: 300;
     }
     .mobile-nav{
      color: #fff;
      font-size: 30px;
      display: none;
     }
     .info-cart{
       margin-top: 6px;
       margin-left: 5px;
      
       p{
         color: #fff;
         font-size: 13px;
         font-weight: 600;
         line-height: 10px;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
      .total-price{
        color: #e09654;
        font-size: 13px;
        font-weight: 600;

      }
     }
     .top-bar{
      position: relative;
      .icon-person{
        cursor: pointer;
      }
      .link-toggle{
        
        .header-menu-link{
          background-color: #ffffff;
          position: absolute;
          right: 0;
          padding: 10px 20px;
          z-index: 9;
          width: 150px;
          text-align: left; 
          top: 45px;
          left: auto;
          border: 1px solid #ebebeb;
           .menu-header{
            text-align: left;
              li{
                margin: 0;
                a{
                  margin: 0;
                  padding: 7px;
                  color: #000000;
                  &:hover{
                   color:#fca000;
                  }
                }
              }
           }
        }
      }
     }
     .mobile-menu-overlay{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      cursor: pointer;
      background: rgba(0,0,0,.6);
      display: none;
      &.active-overlay{
        display: block;
      }
    
     }
   }
    }
    .clear{
      position: absolute;
      top: 0%;
      right: 3%;
      color: #222;
      font-size: 35px;
      z-index: 9999999;
    }
  }
  // HEADER END ///////

// RESPONSIVE START 
@media screen and (max-width: 1300px) {
  *{
    #mainHead{
      width: 100%!important;
      .header-top{
         .container-small{
           width: 92%;
       }
       .header-top-center{
        .form{
          input{
            width: 500px;
          }
        }
       }

      }.header-bottom{
        .container-theme{
          width: 94%;
        }
      }
   }
  }
  }
  @media screen and (max-width: 1220px) {
    *{
      #mainHead{
        .header-top{
           .container-small{
          width: 92%;
         }
         .header-top-center{
          .form{
            input{
              width: 350px;
            }
          }
         }
  
        }
        .header-bottom{
          .container-theme{
           width: 94%;
          //  background-color: red;
          
          }
           .header-bottom-left{
            .navigator-bar{
             .main-menu{
              li{
                a{
                  padding: 8px 5px;
                }
              }
             }
            }
           }
        }
     }
    }
  
    }
    @media screen and (max-width: 943px) {
      *{
        #mainHead{
          .header-top{
             .container-small{
              width: 95%;
           }
           .header-top-center{
            .form{
              input{
                width: 300px;
              }
            }

           }
    
          }
          .header-bottom{
            .container-theme{
              width: 90%;
            }
             .header-bottom-left{
              .navigator-bar{
                display: none;
               .main-menu{
                li{
                  a{
                    padding: 8px 8px;
                  }
                }
               }
              }
             }
          }
       }
      }
    
      }
      @media screen and (max-width: 820px) {
        *{
          #mainHead{
            .claer{
              .cl-icon{
                z-index: 999999;
                color: #2222;
              }
            }
            .header-top{
              position: relative;
               .container-small{
                width: 90%;
             }
             .header-top-center{
              .form{
                input{
                  width: 200px;
                }
              }
  
             }
      
            }
            .header-bottom{
               .header-bottom-left{
                .navigator-bar{
                  background: #fff;
                  height: auto;
                  left: auto;
                  padding: 20px;
                  position: fixed;
                  right: -260px;
                  top: 0;
                  width: 260px;
                  display: block;
                  z-index: 99999;
                  opacity: 0;
                  text-align: left;
                  visibility: hidden;
                  overflow-y: scroll;
                   .clear{
                    display: block !important;
                   }
                  ul{
                    flex-direction: column;
                    li{
                    display: block;

                      a{
                        display: block;
                        color: #000000;
                      }
                    }
                  }
                 .main-menu{
                  li{
                    a{
                      padding: 8px 8px;
                    }
                  }
                 }
                }
               }
               
               .header-bottom-right{
                .mobile-menu-overlay{
                  display: none;
                }
                .mobile-nav{
                  display: block;
                }
                .info-cart{
                  display: none;
                }
               }
            }
         }
        }
      
        }

        @media screen and (max-width: 775px) {
          *{
            #mainHead{
              .header-top{
                 .container-small{
                  width: 95%;
               }
               .header-top-left{
                padding-left: 20px;
               }
               .header-top-center{
                .form{
                  input{
                    width: 250px;
                  }
                }
    
               }
           .header-top-right{
            display: none;
           }
              }
              .header-bottom{
                 .header-bottom-left{
                  .navigator-bar{
                   .main-menu{
                    li{
                      a{
                        padding: 8px 8px;
                      }
                    }
                   }
                  }
                 }
                 .header-bottom-right{
                  .mobile-nav{
                    display: block;
                  }
                  .info-cart{
                    display: none;
                  }
                 }
              }
           }
          }
        
          }
          @media screen and (max-width: 600px) {
            *{
              #mainHead{
                .header-top{
                   .container-small{
                    width: 95%;
                 }
                 .header-top-left{
                  padding-left: 20px;
                 }
                 .header-top-center{
                  .form{
                    input{
                      width: 180px;
                    }
                  }
      
                 }
             .header-top-right{
              display: none;
             }
                }
                .header-bottom{
                   .header-bottom-left{
                    .navigator-bar{
                     .main-menu{
                      li{
                        a{
                          padding: 8px 8px;
                        }
                      }
                     }
                    }
                   }
                   .header-bottom-right{
                    .mobile-nav{
                      display: block;
                    }
                    .info-cart{
                      display: none;
                    }
                   }
                }
             }
            }
          
            }

            @media screen and (max-width: 500px) {
              *{
                #mainHead{
                  .header-top{
                     .container-small{
                      width: 95%;
                   }
                   .header-top-left{
                    padding-left: 20px;
                   }
                   .header-top-center{
                    
                    .form{
                      input{
                        width: 180px;
                        padding: 10px 5px;
                      }
                      button{
                        display: none;
                      }
                      .search-icon{
                        display: block;
                      }
                    }
        
                   }
               .header-top-right{
                display: none;
               }
                  }
                  .header-bottom{
                     .header-bottom-left{
                      .navigator-bar{
                       .main-menu{
                        li{
                          a{
                            padding: 8px 8px;
                          }
                        }
                       }
                      }
                     }
                     .header-bottom-right{
                      .mobile-nav{
                        display: block;
                      }
                      .info-cart{
                        display: none;
                      }
                      .wishlist{
                        display: none;
                      }
                     }
                  }
               }
              }
            
              }
