.wpg-all{
    background-color: #82828223;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
  .day-title{
    
    h1{
        display: inline-block;
        letter-spacing: 0.5px;
        position: relative;
        vertical-align: top;
        margin: 0 0 30px;
        font-weight: 600;
        line-height: 23px;
        font-size: 23px;
        border-bottom: 1px solid #dcdcdc;
        width: 100%;
        padding: 0 0 20px;
        color: #000;

    }

  }
}